
*.zip
*.csv
.ipynb_checkpoints/Day 2-checkpoint.ipynb
mnist/MNIST/raw/t10k-images-idx3-ubyte
mnist/MNIST/raw/t10k-labels-idx1-ubyte
mnist/MNIST/raw/t10k-images-idx3-ubyte.gz
mnist/MNIST/raw/t10k-labels-idx1-ubyte.gz
mnist/MNIST/raw/train-images-idx3-ubyte
mnist/MNIST/raw/train-images-idx3-ubyte.gz
mnist/MNIST/raw/train-labels-idx1-ubyte
mnist/MNIST/raw/train-labels-idx1-ubyte.gz
.ipynb_checkpoints/Day 6.2 MNIST CNN-checkpoint.ipynb
.ipynb_checkpoints/Day Five-checkpoint.ipynb
.ipynb_checkpoints/Day 12 and 13 NLP with SpaCy-checkpoint.ipynb
