
*.zip
*.csv
.ipynb_checkpoints/Day 2-checkpoint.ipynb
mnist/MNIST/raw/t10k-images-idx3-ubyte
mnist/MNIST/raw/t10k-labels-idx1-ubyte
mnist/MNIST/raw/t10k-images-idx3-ubyte.gz
mnist/MNIST/raw/t10k-labels-idx1-ubyte.gz
mnist/MNIST/raw/train-images-idx3-ubyte
mnist/MNIST/raw/train-images-idx3-ubyte.gz
mnist/MNIST/raw/train-labels-idx1-ubyte
mnist/MNIST/raw/train-labels-idx1-ubyte.gz
.ipynb_checkpoints/Day 6.2 MNIST CNN-checkpoint.ipynb
.ipynb_checkpoints/Day Five-checkpoint.ipynb
.ipynb_checkpoints/Day 12 and 13 NLP with SpaCy-checkpoint.ipynb
.ipynb_checkpoints/Day 18 - Graph Pathfinding and Search-checkpoint.ipynb
.ipynb_checkpoints/Day 20 - 22 Python Workouts for Optimization-checkpoint.ipynb
__pycache__/bmifuncs.cpython-38.pyc
*.pyc
.ipynb_checkpoints/Day 23 OOP with Python I-checkpoint.ipynb
.ipynb_checkpoints/Day 26 Mastering OO Python I-checkpoint.ipynb
.ipynb_checkpoints/Day 24 & 25 OOP with Python II-checkpoint.ipynb
